# Optional path to the YAML configuration file.
# CONFIG_FILE=config/config.example.yml

SERVICE_ADDR=127.0.0.1:8080
SERVICE_CONN_VERIFY_CERTS=false
# SERVICE_CONN_CA=/path/to/ca.pem
# SERVICE_CONN_CERT=/path/to/server.crt
# SERVICE_CONN_KEY=/path/to/server.key

LOG_LEVEL=info
LOG_JSON=false
LOG_OTEL=false
LOG_FILE=
LOG_CONSOLE=true

POSTGRES_DSN="postgres://postgres:postgres@127.0.0.1:5432/webitel?application_name=email-service&sslmode=disable&connect_timeout=10"

CONSUL_ADDR=127.0.0.1:8500

PUBSUB_URL="amqp://webitel:webitel@127.0.0.1:5672/"
PUBSUB_DRIVER=rabbitmq
